body{
    text-align: center;
    background-color: grey;
}

.m-cont{
    background-color: rgb(219, 208, 86);
    border: 2px solid black;
    margin: 20px auto 20px auto;
    padding: 5px 0 25px 0;
    width: 450px;
    /*margin: 0 auto;*/
}




.app-cont{
    background-color: rgb(147, 224, 93);
    border: 2px solid black;
    width: 400px;
    margin: 25px auto 15px auto;
    border-radius: 10px;
}

.sub-t{
    margin-top: -25px;
    margin-bottom: -5px;
}


.pic1{
    height: 180px;
    width: 180px;
}

.in1{
    width: 50px;
    margin: 0 0 0 5px;
    text-align: center;
}

.button1{
    font-weight: bold;
    /*border: 1px solid black;*/
    box-shadow: 5px 5px 5px #888888;
}

.answ1{
    background-color: rgb(34, 249, 249);
    width: 100px;
    height: 25px;
    padding: 3px 0 0 0;
    border: 2px solid black;
    margin: 0 auto;
    text-align: center;
}


/*-------------- Bottom ------------------*/

.trans{
    background-color: rgba(254, 254, 254, 0.5);
    border: 2px solid black;
}

.bottom1{
    height: 55px;
    width: 400px;
    /*margin-left: 25px;*/
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
}

.icon{
    width: 40px;
    height: 40px;
    margin: 7px 2px 0 2px;
}

.name{
    /*padding-left: 10px;*/
    margin: 3px 5px 0px 18px;
    font-size: 15px;
}
